body {
	margin: 0;
	padding: 0;
	background-color: #a4d8e8;
	height: 100vh, 100dvh;
	width: 100%;
}

.parent {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: auto minmax(30%, 500px) auto;
	grid-template-rows: auto minmax(30%, 500px) auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.container {
	grid-area: 2 / 2 / 3 / 3;
	width: 100%;
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #d98267;
	border-radius: 1em;
	flex-direction: column;
}

.container img {
	flex:3;
	object-fit: contain;
}

.container p {
	flex:1;
	font-family: "Times New Roman", cursive;
	font-weight: bold;
	font-size: xx-large;
	color: white;
	text-shadow: -1.1px 0 black, 0 1.1px black, 1.1px 0 black, 0 -1.1px black;
}